.notification {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.error {
  color: var(--color-error);
}

.success {
  color: var(--color-success);
}
