.cart {
  padding: 2rem 1.5rem 1rem;
  position: relative;
  font-size: var(--font-size-md);
}

.closeBtn {
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: var(--font-size-md);
  font-weight: var(--border-radius-md);

  /* background-color: var(--color-secondary-deep-green); */
  /* color: var(--color-white); */

  cursor: pointer;
}

.closeBtn:hover {
  /* box-shadow: var(--shadow-sm); */

  color: var(--color-primary-green);
}

.totalPrice {
  text-align: right;
}

.modalActions {
  margin-top: 1.5rem;
}
