.cart {
  padding: 2rem 1.5rem 1rem;
  position: relative;
  font-size: var(--font-size-md);
}

.text {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.totalPrice {
  text-align: right;
}

.modalActions {
  margin-top: 1.5rem;
}
