.checkoutForm {
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  gap: 1rem;
}

.modalText {
  margin: 1.5rem 0;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.price {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
