.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-white);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.menu {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.logoTitle {
  margin-left: 0.5rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-cursive);
}

.link:hover {
  color: var(--color-primary-green);
}

.badge {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 50%;

  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-black);
}
